<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/context/spring-tx.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--scan controller package-->
    <context:component-scan base-package="com.crayon.controller"/>

    <!--注入swagger配置-->
    <bean class="com.crayon.swagger.SwaggerConfig"/>

    <!-- 引用Swagger 默认配置 -->
    <bean class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration" id="swagger2Config"/>

    <!-- 配置springmvc的驱动，并开启了对JSON数据格式的支持 -->
    <mvc:annotation-driven/>
    <!-- 静态资源文件，不会被Spring MVC拦截 -->
    <mvc:resources mapping="/swagger/**" location="/swagger/" />
    <mvc:resources mapping="/static/" location="/static/" />
    <!-- 不拦截测试接口 -->
    <mvc:resources mapping="/API/**" location="/API/" />


    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=""/>
    </bean>
    <!--
    <bean class="cn.com.sm.exception.CustomExceptionResolver"/>-->
    <!-- 控制器异常处理，用来处理权限、角色验证失败出现的UnauthorizedException异常 -->
    <bean id="exceptionHandlerExceptionResolver"
          class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
    </bean>

    <!-- 文件上传,id必须设置为multipartResolver -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置文件上传大小 -->
        <property name="maxUploadSize" value="5000000" />
    </bean>

</beans>