<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crayon.dao.CusLevelDao">


    <select id="countCusLevels" resultType="Integer">
        select count(*)
        from cuslevel;
    </select>

    <select id="listAllCusLevels" resultType="com.crayon.pojo.CusLevel">
        select * from cuslevel;
    </select>

    <!-- 根据cusLevelId查询-->
    <select id="listCusLevelsById" parameterType="Integer"
            resultType="com.crayon.pojo.CusLevel">
        SELECT * FROM cuslevel
        where cusLevelId = #{cusLevelId};
    </select>

    <!-- 根据cusLevel的主码查询-->
    <select id="getCusLevelByKey" parameterType="Integer"
            resultType="com.crayon.pojo.CusLevel">
        SELECT * FROM cuslevel
        where cusLevelId = #{cusLevelId};
    </select>


    <insert id="insert" parameterType="com.crayon.pojo.CusLevel"
            useGeneratedKeys="true" keyProperty="cusLevelId">
        insert into cuslevel(levelName, levelDiscount)
        value (#{levelName},#{levelDiscount});
    </insert>

    <update id="update" parameterType="com.crayon.pojo.CusLevel">
        update cuslevel
        <set>
            <if test="levelName!=null">
                levelName = #{levelName},
            </if>
            <if test="levelDiscount!=null">
                levelDiscount = #{levelDiscount},
            </if>
        </set>
        where cusLevelId = #{cusLevelId};
    </update>

    <delete id="cusLevelId" parameterType="Integer">
        delete from cuslevel
        where cusLevelId = #{cusLevelId};
    </delete>

    <delete id="deleteByKey" parameterType="Integer">
        delete from cuslevel
        where cusLevelId = #{cusLevelId};
    </delete>
</mapper>