<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crayon.dao.PreferentialConditionDao">


    <select id="countPreferentialConditions" resultType="Integer">
        select count(*)
        from preferentialcondition;
    </select>

    <select id="listAllPreferentialConditions"
            resultType="com.crayon.pojo.PreferentialCondition">
        select * from preferentialcondition;
    </select>

    <!-- 根据优惠id查询-->
    <select id="listPreferentialConditionsById" parameterType="Integer"
            resultType="com.crayon.pojo.PreferentialCondition">
        SELECT * FROM preferentialcondition pc
        where pc.preConId = #{preConId};
    </select>

    <!-- 根据优惠主码查询-->
    <select id="getPreferentialConditionByKey" parameterType="Integer"
            resultType="com.crayon.pojo.PreferentialCondition">
        SELECT * FROM preferentialcondition pc
        where pc.preConId = #{preConId};
    </select>

    <!-- 根据产品Id查询优惠-->
    <select id="getPreferentialConditionByProId" parameterType="Integer"
            resultType="com.crayon.pojo.PreferentialCondition">
        select preConId, preCondition, preCDescribe, preDiscount, preCLimit, preCReduceAmount from preferentialcondition pc
        join product p on pc.preConId = p.preferentialConditionId
        where p.proId = #{proId};
    </select>


    <insert id="insert" parameterType="com.crayon.pojo.PreferentialCondition"
            useGeneratedKeys="true" keyProperty="preConId">
        insert into preferentialcondition(preCondition, preCDescribe,
            preDiscount, preCLimit, preCReduceAmount)
        value (#{preCondition}, #{preCDescribe}, #{preDiscount}, #{preCLimit}, #{preCReduceAmount});
    </insert>

    <update id="update" parameterType="com.crayon.pojo.PreferentialCondition">
        update preferentialcondition
        <set>
            <if test="preCondition!=null">
                preCondition = #{preCondition},
            </if>
            <if test="preCDescribe!=null">
                preCDescribe = #{preCDescribe},
            </if>
            <if test="preDiscount!=null">
                preDiscount = #{preDiscount},
            </if>
            <if test="preCLimit!=null">
                preCLimit = #{preCLimit},
            </if>
            <if test="preCReduceAmount!=null">
                preCReduceAmount = #{preCReduceAmount},
            </if>
        </set>
        where preConId = #{preConId};
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from preferentialcondition
        where preConId = #{preConId};
    </delete>

    <delete id="deleteByKey" parameterType="Integer">
        delete from preferentialcondition
        where preConId = #{preConId};
    </delete>
</mapper>