<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crayon.dao.ProductDao">

    <!-- 获取商品总数-->
    <select id="selectCount" resultType="Integer">
        select count(*) from product;
    </select>

    <select id="findAll" resultType="com.crayon.pojo.Product">
        select * from product;
    </select>


    <!-- 分页查询-->
    <select id="findByPage" resultType="com.crayon.pojo.Product">
        select * from product
        limit #{start},#{size};
    </select>

    <!-- 根据proId查询-->
    <select id="findById" parameterType="Integer" resultType="com.crayon.pojo.Product">
        SELECT * FROM product pro
        where pro.proId = #{proId};
    </select>

    <!-- 根据proName查询-->
    <select id="finByName" parameterType="String"
            resultType="com.crayon.pojo.Product">
        SELECT * FROM product pro
        where pro.proName = #{proName};
    </select>

    <!-- 根据productionBatch查询-->
    <select id="finByProductionBatch" parameterType="String" resultType="com.crayon.pojo.Product">
        SELECT * FROM product pro
        where pro.productionBatch = #{productionBatch};
    </select>

    <!-- 获取指定商品销量 proId,Status-->
    <select id="getProductSales" resultType="Integer">
        select ifnull(sum(p.purQuantity),0) as sales from orders o
        join orderproductlist op on o.orderId = op.orderId
        join productlist p on op.proListId = p.proListId
        where p.proId = #{proId} and o.ordStatus = #{ordStatus};
    </select>


    <!-- 插入商品 -->
    <insert id="insert" parameterType="com.crayon.pojo.Product"
            useGeneratedKeys="true" keyProperty="proId">
        insert into product(productionBatch, proName, proPrice, proQuantity, proCreationTime,
        productionTime, preservePeriod, proPortionalTaxRate, preferentialConditionId, proStatus)
        values (#{productionBatch},#{proName},#{proPrice},#{proQuantity},#{proCreationTime},
                #{productionTime},#{preservePeriod},#{proPortionalTaxRate},#{preferentialConditionId},
                #{proStatus});
    </insert>

    <update id="update" parameterType="com.crayon.pojo.Product">
        update product
        <set>
            <if test="productionBatch!=null">
                proName = #{productionBatch},
            </if>
            <if test="proName!=null">
                proName = #{proName},
            </if>
            <if test="proPrice!=null">
                proPrice = #{proPrice},
            </if>
            <if test="proQuantity!=null">
                proQuantity = #{proQuantity},
            </if>
            <if test="proCreationTime!=null">
                proCreationTime = #{proCreationTime},
            </if>
            <if test="productionTime!=null">
                productionTime = #{productionTime},
            </if>
            <if test="preservePeriod!=null">
                preservePeriod = #{preservePeriod},
            </if>
            <if test="proPortionalTaxRate!=null">
                proPortionalTaxRate = #{proPortionalTaxRate},
            </if>
            <if test="preferentialConditionId!=null">
                preferentialConditionId = #{preferentialConditionId},
            </if>
            <if test="proStatus!=null">
                proStatus = #{proStatus},
            </if>
        </set>
        where proId = #{proId};
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from product
        where proId = #{proid}
    </delete>

</mapper>