<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crayon.dao.ProEvaluationDao">
    <insert id="insert" parameterType="com.crayon.pojo.ProEvaluation"
            useGeneratedKeys="true" keyProperty="proEvaId">
        insert into proevaluation(userId, proId, level, evaDate, desId) VALUES
        (#{userId}, #{proId}, #{level}, #{evaDate}, #{desId});
    </insert>

    <select id="countUserEvaByProId" resultType="Integer">
        select count(*) from proevaluation
        where userId = #{userId} and proId = #{proId};
    </select>
</mapper>