<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crayon.dao.user_manage.CustomerDao">

    <select id="countCustomers" resultType="Integer">
        select count(*)
        from customer;
    </select>

    <select id="listAllCustomers" resultType="com.crayon.pojo.user_manage.Customer">
        select * from customer;
    </select>

    <!-- 根据身份id查询-->
    <select id="listCustomersById" parameterType="Integer"
            resultType="com.crayon.pojo.user_manage.Customer">
        SELECT * FROM customer
        where userId = #{userId};
    </select>

    <!-- 根据身份id查询-->
    <select id="getCustomerByKey" parameterType="Integer"
            resultType="com.crayon.pojo.user_manage.Customer">
        SELECT * FROM customer
        where userId = #{userId};
    </select>

    <insert id="insert" parameterType="com.crayon.pojo.user_manage.Customer" >
        insert into customer
        value (#{userId},#{cusStatus},#{cusLevelId});
    </insert>

    <update id="update" parameterType="com.crayon.pojo.user_manage.Customer">
        update customer
        <set>
            <if test="cusStatus!=null">
                cusStatus = #{cusStatus},
            </if>
            <if test="cusLevelId!=null">
                cusLevelId = #{cusLevelId},
            </if>
        </set>
        where userId = #{userId};
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from customer
        where userId = #{userId};
    </delete>

    <delete id="deleteByKey" parameterType="Integer">
        delete from customer
        where userId = #{userId};
    </delete>
</mapper>