<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crayon.dao.user_manage.RoleDao">

    <select id="countRoles" resultType="Integer">
        select count(*)
        from roles;
    </select>

    <select id="listAllRoles" resultType="com.crayon.pojo.user_manage.Role">
        select * from roles;
    </select>

    <!-- 根据权限id查询-->
    <select id="listRolesById" parameterType="Integer"
            resultType="com.crayon.pojo.user_manage.Role">
        SELECT * FROM roles r
        where r.id = #{id};
    </select>

    <select id="getRoleByKey" parameterType="Integer"
            resultType="com.crayon.pojo.user_manage.Role">
        SELECT * FROM roles r
        where r.id = #{id};
    </select>

    <select id="getRoleByRole" parameterType="String"
            resultType="com.crayon.pojo.user_manage.Role">
        SELECT * FROM roles r
        where r.role = #{role};
    </select>

    <insert id="insert" parameterType="com.crayon.pojo.user_manage.Role"
            useGeneratedKeys="true" keyProperty="id">
        insert into roles(role, description)
        value (#{role},#{description});
    </insert>

    <update id="update" parameterType="com.crayon.pojo.user_manage.Role">
        update roles
        <set>
            <if test="role!=null">
                role = #{role},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
        </set>
        where id = #{id};
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from roles
        where id = #{id};
    </delete>

    <delete id="deleteByKey" parameterType="Integer">
        delete from roles
        where id = #{id};
    </delete>
</mapper>